* {
    margin: 0;
    padding: 0;
}
.background {
    background-image: linear-gradient(45deg, black, rgb(0, 195, 255));
    height: 100%;
    color: white;
    height: 100vh;
    font-family: sans-serif;
}
.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: wheat;
}

.botao:hover{
    background-color: black;
}

#result {
    height: 30px;
    width: 213px;
    background-color: white;
    margin: 5px;
    color: black;
    text-align: right;
    padding: 5px;
    font-size: 20px;
}